body {
  background-color: lightblue;
}
.about-me {
  text-align: center;
}
.page-footer{
    position: fixed;
    bottom: 0;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
  padding-top: 70px;
}

#lead {
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  padding-top: 20px;
  bottom: 0;
}

#anime {
  background-color: #5bc0de;
}

.ml11 {
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  padding: 12px;
  margin: 0;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 1vw;
  background-color: #ffd11a;
  overflow: hidden;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
  color: white;
}


